<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Materia</title>
    <link href="../static/css/admin/style_contenido_materia.css" th:href="@{/css/admin/style_contenido_materia.css}"  rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
</head>
<body>
    <a th:href="@{/admin/materia/}+${materia.idMateria}"><i class="fas fa-arrow-left"></i></a>
    <form action="#" th:action="@{/admin/materia/agregarProfesor/} + ${materia.idMateria} " method="POST" class="formulario-login">
        <h1 th:text="${materia.nombre}"></h1>
        <div class="contenedor">
            <select name="profesor" id="">
                <option th:each="profesor : ${profesoresList}" th:text="*{profesor.apellido} +' '+ *{profesor.nombre}" th:value="${profesor.idUsuario}" ></option>
            </select>
            <input type="submit" value="Agregar Profesor" class="button">
            <a class="button" th:href="@{/admin/alta/profesor/}+${materia.idMateria}">Registrar Profesor</a>
        </div>
    </form>
</body>
</html>