<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/admin/style_carrera.css" th:href="@{/css/admin/style_carrera.css}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>

	 <div class="backButton">
            <a th:href="@{/admin/universidad/}+${carrera.universidad.idUniversidad}"><i class="fas fa-arrow-left"></i></a>
     </div>
    
    <h3 th:text="${carrera.nombre}" class="titulo"></h3>
    <a th:href="@{/admin/alta/materia/} + ${carrera.idCarrera}" class="agregar-materia"><i class='bx bxs-plus-square'></i></a>
    
    <div class="container">
       <div th:each="materia: ${materias}" class="matereria">
            <a th:href="@{/admin/materia/} + ${materia.idMateria}">
            	<h2 th:text="${materia.nombre}"></h2>
            </a>
        </div>
    </div>
</body>
</html>