<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <title>Library</title>
</head>
<body>
    <div class="container">
        <div class="backButton">
            <a th:href="@{/admin}"><i class="fas fa-arrow-left"></i></a>
        </div>
        <div class="optionTable">
            <a th:href="@{/admin/alta/universidad}">Agregar Universidad</a>
        </div>
        <div class="listado">
            <div th:each="universidad:${universidades}">
                <a th:href="@{/admin/modificar/universidad/}+${universidad.idUniversidad}">
                    <h3 th:text="${universidad.nombre}"></h3>
                    <img th:src="@{'/Universidades/'} + ${universidad.logo}" width="200px" height="200px">
                </a>
                <a th:href="@{/admin/universidad/} + ${universidad.idUniversidad}">Vista</a>
            </div>
        </div>
    </div>
</body>
</html>