<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link rel="stylesheet" href="../static/css/admin/style_carrera.css" th:href="@{/css/admin/style_carrera.css}">
<link href="https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap" rel="stylesheet">
<link href="../static/css/admin/style_universidad.css" th:href="@{/css/admin/style_universidad.css}" rel="stylesheet">
<script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="backButton">
		<a th:href="@{/admin}"><i class="fas fa-arrow-left"></i></a>
	</div>
	<h3 class="titulo">Universidades</h3>
	<a th:href="@{/admin/alta/universidad}" class="agregar"><i class="fas fa-plus-square"></i></a>

	<div class="container">
		<div th:each="universidad:${universidades}" class="item">
				<img th:src="@{'/Universidades/'} + ${universidad.logo}" class="item-img" width="200px" height="200px">
				<div class="item-text">
					<a th:text="${universidad.nombre}" th:href="@{/admin/universidad/} + ${universidad.idUniversidad} "></a>
				</div>
		</div>
	</div>
</body>
</html>
