<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <div class="container">
        <div class="backButton">
            <a th:href="@{/admin}"><i class="fas fa-arrow-left"></i></a>
        </div>
        <h3 th:text="${universidad.nombre}"></h3>
        <div class="optionTable">
            <a th:href="@{/admin/alta/carrera/} + ${universidad.idUniversidad}">Agregar Carrera</a>
        </div>
        <div class="listado">
            <div th:each="carrera : ${carreras}">
                    <h3 th:text="${carrera.nombre}"></h3>
                <a>Eliminar</a>
                <a th:href ="@{/admin/carrera/} + ${carrera.idCarrera}">Ver</a>
                <!--th:text = "${carrera.idCarrera}"<a th:href="@{materia/listar/} + ${idCarrera}"></a>  -->
            </div>
        </div>
    </div>
</body>
</html>