<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/css/admin/style_carrera.css" th:href="@{/css/admin/style_carrera.css}">
    <title>Library</title>
</head>
<body>
        <a th:href="@{/universidad/}+${idUniversidad}"><i class="fas fa-arrow-left"></i></a>
        <h3 th:text="${carrera.nombre}" class="titulo"></h3>
        <div class="container">
            <div th:each="materia:${materias}" class="matereria">
                <a th:href="@{/universidad/}+${idUniversidad}+@{/carrera/}+${carrera.idCarrera}+@{/materia/}+${materia.idMateria}">
                    <h3 th:text="${materia.nombre}"></h3>
                </a>
            </div>
        </div>
</body>
</html>