<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
<title>Document</title>
</head>
<body>
	<div class="container">
		<form th:action="@{/logout}" method="POST">
			<button type="submit">Salir</button>
		</form>
		<div class="listado">
			<div th:each="universidad:${universidades}">
				<a th:href="@{/estudiante/carrera/} + ${universidad.idUniversidad}">
					<h3 th:text="${universidad.nombre}"></h3> <img
					th:src="@{'/Universidades/'} + ${universidad.logo}" width="200px"
					height="200px">
				</a>
			</div>
		</div>
	</div>
</body>
</html>

<!-- th:href="@{/admin/modificar/universidad/}+${universidad.idUniversidad}"-->