<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <script src="https://kit.fontawesome.com/d25b889486.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/style.css}">
</head>
<body>
    <header class="header" id="inicio">
        <img src="img/hamburguesa.svg" alt="" class="hamburguesa">
        <nav class="menu-navegacion">
            <a href="#inicio">inicio</a>
            <a href="#servicio">Acerca de</a>
            <a href="#portafolio">Carreras</a>
            <a th:href="@{/login}">Login</a>
        </nav>
        <div class="contenedor head">
               <h1 class="titulo">Te ayudamos a estudiar</h1>
            <p>Library busca compilar todo el material de estudio de tu carrera</p>
        </div>
    </header>
    <main>
  
        <seccion class="service contenedor" id="servicio">
        </seccion>
        <section class="galery" id="portafolio">
            <div class="contenedor">
                <h2 class="subtitulo">Universidades</h2>

                <div class="busqueda">
                    <form action="#" th:action="@{/universidad/buscar/}" method="POST">
                        <input type="text" placeholder="Nombre de la universidad..." required="required" name="busqueda">
                        <button type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                <div class="contenedor-galeria">
                    <div th:if="${universidades} != null" th:each="universidad:${universidades}">
                        <a th:href="@{/universidad/}+${universidad.idUniversidad}">
                            <h3 th:text="${universidad.nombre}"></h3>
                            <img th:src="@{'/Universidades/'} + ${universidad.logo}" width="200px" height="200px">
                        </a>
                    </div>
                    <div  th:if="${universidad} != null">
                        <a th:href="@{/universidad/}+${universidad.idUniversidad}">
                            <h3 th:text="${universidad.nombre}"></h3>
                            <img th:src="@{'/Universidades/'} + ${universidad.logo}" width="200px" height="200px">
                        </a>
                    </div>
                </div>
            </div>
        </section>
       
    <script src="js/menu.js" ></script>
   
    <script src="js/lightbox.js"></script>
</body>
</html>