<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Library</title>
    <!-- importo Boxicons para los iconos -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <!-- importo el css -->
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <header class="header" id="inicio">
        <!-- inserto el menu -->
        <img src="img/hamburguesa.svg" alt="" class="hamburguesa">
        <nav class="menu-navegacion">
            <a href="#inicio">Inicio</a>        
            <a href="#universidades">Universidades</a>
             <a href="#nosotros">Acerca de</a>
            <a th:href="@{/login}">Login</a>
        </nav>
        <!-- pantalla de inicio -->
        <div class="contenedor head">
        <h1 class="titulo">Library</h1>
               <h2>Bienvenidos a nuestra biblioteca digital!!!</h2>
         
        </div>
    </header>
    <main>
      
        <section class="galery" id="universidades">
            <div class="contenedor">
                <h2 class="subtitulo">Universidades</h2>
          
                    <div th:each="universidad:${universidades}">
                        <a th:href="@{/admin/modificar/universidad/}+${universidad.idUniversidad}">
                            <h3 th:text="${universidad.nombre}"></h3>
                            <img th:src="@{'/Universidades/'} + ${universidad.logo}" width="200px" height="200px">
                        </a>
                    </div><br>
            
            	 <div class="service">
            		  <h3 class="n-service"><span class="number2">1</span>Universidad Nacional de Lanús</a></h3>
             		  </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">2</span>Universidad Nacional de Quilmes</a></h3>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">3</span>Universidad Nacional de Lomas de Zamora</h3>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">4</span>Universidad Nacional de Avellaneda</a></h3>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">5</span>Universidad Nacional de La Matanza</a></h3>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">6</span>Universidad Nacional de Luján</h3>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">7</span>Universidad Tecnológica Nacional</h3>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number2">8</span>Universidad de Buenos Aires</a></h3>
                    </div>                                               
                </div>        		 
        </section>
        
                
    <section class="services contenedor" id="nosotros">
            <h2 class="subtitulo">Acerca de</h2>
            <div class="contenedor-servicio">
                <img src="img/leer.jpg" alt="">
                <div class="checklist-servicio">
                    <div class="service">
                        <h3 class="n-service"><span class="number">1</span>Universidades</h3>
                        <p> En nuestra página podrás encontrar un listado con las distintas Universidades de Argentina, para que encuentres lo que estas buscando!.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">2</span>Materias</h3>
                        <p> Podrás visualizar las distintas materias de cada una de las carreras.</p>
                    </div>
                    <div class="service">
                        <h3 class="n-service"><span class="number">3</span>Archivos</h3>
                        <p> Podrás encontrar en la sección de la materia que búsques todos los archivos para visualizar y descargar..</p>
                    </div>
                </div>
            </div>
        </section>     
           
    </main>
    
      <footer>
        <div class="contenedor-footer">
            <h2 class="titulo-final">PROYECTO DE SOFTWARE</h2>
        </div>
        <h2 class="titulo-final">&copy; Grupo 02 | 2021</h2>
    </footer> 
    
   
    <!-- enlaso con el javascript -->
    <script src="js/menu.js"></script>
    <!-- este scrip hace funcionar a la "X" -->
    <script src="js/lightbox.js"></script>
</body>
</html>