<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style_universidad.css">
    <!-- importo Boxicons para los iconos -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <h3 class="titulo">Universidades</h3>
    <a href="" class="new-university"><i class='bx bxs-book-add'></i></a>
    <div class="container">
       
        <div class="item">
            <img src="imagenes/uba.png" alt="" class="item-img">
            <div class="item-text">
                <h3>universidad</h3>
            </div>
        </div>
        <div class="item">
            <img src="imagenes/la_plata.png" alt="" class="item-img">
            <div class="item-text">
                <h3>universidad</h3>
            </div>
        </div>
        <div class="item">
            <img src="imagenes/unla.png" alt="" class="item-img">
            <div class="item-text">
                <h3>universidad</h3>
            </div>
        </div>
        <div class="item">
            <img src="imagenes/unla.png" alt="" class="item-img">
            <div class="item-text">
                <h3>universidad</h3>
            </div>
        </div>
    </div>
</body>
</html>